* {
    font-family: Segoe UI, Microsoft Yahei UI;
}

QDialog {
    background: palette(base);
}

Editor {
    border: 0;
}

StatusBar QLabel {
    margin-left: 20;
    margin-right: 20;
}

AboutDialog QTextEdit {
    border: 0;
}
